<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<input id='url'>
	<button onclick='go()'>Go!</button>


	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script>
		function go() {
			var url = document.getElementById("url").value;

			$.post("/url", {
					url: url
				},
				function (data, status) {
					console.log(data);
				});
		}
	</script>
</body>

</html>